<div>
    <div class="header">
      <div class="row justify-content-center" >
        <img class="servicesImg" src="/images/backgound.jpg" alt="Services provided by Trupti" >
      </div>
    </div>
    <div class="row justify-content-center">
        <h3 class="title">Project - WeatherKit</h3>
    </div>

    <div class="row">
        <label>
        WeatherKit application provides an easy way to access weather forecast from anywhere using any device with the 
        access of the internet and a browser. WeatherKit is free to use and does not require any login. 
        It stores the user preferences on the device, making it easy for future usage. With the 
        efforts of the team "TeamThunder", </label> <label style="font-weight: bold;"> version 1 of WeatherKit is published/released 
        on Dec 07, 2020</label>.
        
       <label>
        WeatherKit uses <a href="https://openweathermap.org/">OpenWeatherMap</a>, one of the best weather 
        APIs to enhance the user experience 
        and functionality of WeatherKit. WeatherKit found many customers are used to a temperature unit 
        and prefer to know the temperature in the same unit, despite another unit may be used locally. To 
        facilitate this, WeatherKit provides a unique optional feature to show the temperature in Celsius 
        and Fahrenheit.
        </label>
    </div> 

    <div>
        <br>
        <label style="font-weight: bold;">Features in Future version(s): </label> 
        <label>WeatherKit has plans to implement the following features in the future version(s):</label>
        <ui>
            <li>Show hourly forecast</li>
            <li>Show forecast for 4 days</li>
            <li>Let user add a favorite location(s) to a list</li>
            <li>Create a separate project for business logic with its models respectively </li>
            <li>Store data centrally for users to login 
                from any device synchronizing the preferences</li>
            <li>Develop the UI with AngularJS or ReactJS </li>
        </ui> 
        <br>   
    </div>    

    <div class="row">
        <label>WeatherKit uses cookies to store data. WeatherKit features to let users set a 
            preferred location; all users may not agree on storing cookies on their device. 
            WeatherKit accesses the current location of the user's device; all users may not allow  
            accessing their location. WeatherKit let's user type in the city name or zip code and  
            shows the weather for the matching input. With different ways to retrieve 
            weather forecast for the location, <span><label style="font-style: italic;">
                TeamThunder</label></span> designed the flow for WeatherKit as below. 
            The User can set Settings for preferred location, different units, time, and more formats. </label>
    </div>
    <div class="justify-content-center">
        <img style="width: 80%; height: auto; align-self: center; margin-bottom: 15px;" 
        src="/images/weatherKit/weatherApp-sequence-diagram.jpg" alt="WeatherKit Sequence Flow">
    </div>


    <div class="row">
        <label>Keeping the functionality separate of each task, the <span><label style="font-weight: bold;">
             Model of WeatherKit </label></span> looks like:</label>
    </div>
        <div class="justify-content-center">
                <img class="diagramImg" src="/images/weatherKit/weatherKit-ClassDiagram.jpg" alt="WeatherKit Domain Models">
        </div>

    <!-- Team Work -->
    <br>
    <div>
        <h3>Team Work</h3>
        <div class="row">
            <label>Considering the knowledge and experience of each <span><label style="font-style: italic;">
            TeamThunder</label></span> member and the availability of time, version 1 of WeatherKit 
            is designed and developed on the ASP.NET Core platform using Razor pages and deployed on 
            Microsoft Azure. Github is used to handle version-controlling and Project onboard activities. 
            </label>
            <br>
            <label>Using Agile, each member is given a specific role with responsibilities,
                the tasks were distributed, updating the project onboard regularly. 
                On weekly basis, new tasks were assigned to each member, completed tasks were tested 
                thoroughly by the member and the team, weekly meetings were held regularly or as required. 
                The project
                is planned thoroughly to ensure all requirements and dependencies are met before they arise.
                The status of each task is maintained. If any member faced any issue, the team helped to find a solution, 
                and proceed with the progress of the application.
                Additional to-do tasks or issues are listed and if the member has time, can 
                assign himself and work on it. 
            </label>
            </br>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img style="margin-right: 10px; width: 100%;" src="/images/weatherKit/teamRoles.jpg">
            </div>
            <div class="col-md-6">
                <img style="margin-left: 10px; width: 100%;" src="/images/weatherKit/wbs-taskToDo.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img style="margin-right: 10px; width: 100%;" src="/images/weatherKit/wbs-taskInProgress.jpg">
            </div>
            <div class="col-md-6">
                <img style="margin-left: 10px; width: 100%;" src="/images/weatherKit/wbs-taskCompleted.jpg">
            </div>
        </div>
    </div>

    <!-- My Contributions -->
    <div>
        <br><br>
        <h3>My Contribution</h3>
        <div class="row">
            My role in the team is as a "Leader". My core activities/contributions to the project included but not limited to:
            <ol> 
            <li>The idea, planning, architecture, requirements, flow, diagrams 
            (Class, Sequence, Activity), and other basic documentation of the 
            application was handled and designed by me. Later, along with the team
            the additional details like test cases, work breakdown, 
            etc was maintained.</li>
            <li>Scrum activity - in respect to tasks, assigning new tasks, checking 
                completed tasks, assisting any member, collaborating members to work on a task
                was taken care of by me.</li>
            <li>In Development, the backend including the base architecture of the application was 
                developed by me. This included creating services, writing code for API calls,
                deserializing, parsing the response, integrating different tasks code, testing, and so on. Injecting services to access the 
                functionality easily from other parts of the application. </li>
            <li>Responsible to adapt and implement the best architecture and design pattern 
                for the development of the application.
            </li>
            </ol>

            <br>
            Other details              
            <ul>
            <li>The role of the project helped me get more experience and improved my confidence 
            in the leadership area. I got the opportunity to implement Communication and 
            Leadership skills that I was learning in another class
            "Advanced Communication in Business and Technology". </li>
            <li>Being experienced in Web Application Development, initially, few team members didn't 
                find comfortable with the advanced technology and the use of it. At that moment, 
                I stepped behind and started 
                with a very basic application procedure. As the members got comfortable with the 
                process and flow, I implemented advanced technology and gradually features for better
                performance of the application.</li>
            <li>For me, the next step for this application would be to design the UI in AngularJS
                using ASP.NET Core as the backend. </li>
            <li>My activity, progress, and contributions are shared with the professor in the 
                weekly activity logs, retrospectives, developer journals, and weekly status 
                reports.</li>
            </ul>
            <br>
        </div>
    </div>

    <!-- Application -->
    <div>
        <h3>Application</h3>
        <label> Try the application by clicking <span><a href="https://weatherkit.azurewebsites.net/">WeatherKit</a></span></label> <br />
        <label>Code of WeatherKit can be found <span><a href="https://github.com/weather-Kit/WeatherKit">here</a></span>.</label>
    </br>
        <label>Steps to execute the application:</label>
    </br>
        <ol>
            <li>Open the application</li>
            <li>If a preferred location is set, the forecast of that location will be shown.</li>
            <li>If it's not set, the application will try to retrieve the Geolocation and show the forecast of the current location. </li>
            <li>If the geolocation is not found, a home page is shown. Enter a city name or zip code</li>
            <li>Click on the "Submit" button to view the forecast of the entered location.</li>
            <li>The forecast will be displayed in default Celsius & Fahrenheit units and 24-hour format</li>
            <li>Click on Settings to change the Unit type and Time format</li>
            <li>From the forecast page, enter city name or zipcode on the top search bar and click the submit button.</li>
        </ol>
    </br>
        <div class="row">
            <div class="col-md-6">
                <h3>Home page</h3>
                <img style="margin-right: 10px; width: 100%; height: 90%;" src="/images/weatherKit/app-homePage.jpg">
            </div>
            <div class="col-md-6">
                <h3>Forecast of Geolocation</h3>
                <img style="margin-right: 10px; width: 100%; height: 90%;" src="/images/weatherKit/app-geoForecast.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>List of matching cities world wide</h3>
                <img style="margin-right: 10px; width: 100%; height: 90%;" src="/images/weatherKit/app-cityList.jpg">
            </div>
            <div class="col-md-6">
                <h3>Forecast of entered city</h3>
                <img style="margin-right: 10px; width: 100%; height: 90%;" src="/images/weatherKit/app-londonForecast.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Settings</h3>
                <img style="margin-right: 10px; width: 100%; height: 90%;" src="/images/weatherKit/app-setting.jpg">
            </div>
        </div>

    </div>

    <br/>
    I would love to hear your feedback with bugs and suggestions that will motivate 
    and help improve the WeatherKit application. Feel free to 
    <a href="mailto:trupti.dalia@bellevuecollege.edu">write</a> to me. 
</br>
    Thank You
</br>
    <hr/>
    <div class="row">
        <div class="col-md-5 col-sm-5">
            <a href="/"><i class="fa fa-arrow-circle-left" ></i> Home</a>
        </div>
    </div>
  </div>

</div>