body {
    margin: 2%;
    background-color: darkkhaki;
    font-family: sans-serif;
}

.title {
    color: purple;
}

[class*="row"] {
    margin-top: 15px;
    padding-left: 15px;
}

.resourceTitleLink {
    font-weight: bold;
    color: forestgreen;
}

.breadcrumbs {
  text-align: right;
  font-size: small;
  font-style: italic;
}

code {
  font-style: normal;
  font-size: medium;
}
