<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">

<div>
  <div class="header">
    <div class="row">
      <div class="col-md-12">
        <h1>Trupti Dalia's Profile</h1>
      </div>
    </div>

    <div class="row" >
      <div class="col-md-4 col-sm-4">
        <div class="photoDiv">
          <img class="photo" src="/images/profilePicture.jpg" alt="Trupti" >
        </div>

        <div class="card">
          <h2 class="title">Trupti Dalia</h2>
          <p>Software Engineer</p>
          <p>Bellevue College</p>
        </div>
      </div>

      <div class="col-md-8 col-sm-8">
        <div class="row">
          <p>
            A multi-skilled, self learner, and dedicated professional with years of experience in software development.
            Lots of experience in designing and developing quality work, timely delivery of software applications for desktop,
            mobile devices, web, project-management and database developments in various languages and platforms.
          </p>
          <p>
            Confident to work and grasp new technology, work on challenging projects and provide successful results.
          </p>
          <p>
            I enjoy tutoring students, teaching them the concepts and logic in the topic they need assistance.
          </p>
        </div>
        <div class="row">
            <strong>Believe in Quality Work & Timely Delivery</strong>
        </div>
        <div class="row">
          <div class="col-md-8 col-sm-8"></div>
          <div class="col-md-2 col-sm-2">
            <a href="https://www.linkedin.com/in/terryconsulting/" class="btn btn-primary" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
          <div class="col-md-2 col-sm-2">
            <a href="mailto:trupti.dalia@bellevuecollege.edu" class="btn btn-primary">
              <i class="fa fa-envelope"></i>
            </a>
          </div>
        </div>
        <div class="row"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-sm-5">
        <h5>Resources :</h5>
        <div class="row">
          <ul>
            <li><a class="resourceTitleLink" href="/projects">Projects</a></li>
          </ul>
        </div>
       <div class="row">
        <ul>
          <li><a class="resourceTitleLink" href="/resources">Web Resources</a></li>
        </ul>
        </div>
      </div>
    </div>

  </div>
</div>
