
<div>

    <div class="header">
        <div class="row justify-content-center" >
          <img class="servicesImg" src="/images/backgound.jpg" alt="Services provided by Trupti" >
        </div>
      </div>
      <div class="row justify-content-center">
          <h3 class="title">Projects</h3>
      </div>
    </div>
      
    
    <div>
        <br>
        <label style="font-weight: bolder; font-size: large;"> Recent Projects developed by me:</label> </br>
        <ul>
            <li><a class="resourceTitleLink" href="/weatherKit">WeatherKit</a> (Team player)</li>
            <li><a class="resourceTitleLink" href="/weatherKit">Tower Of Hanoi</a></li>
            <li><a class="resourceTitleLink" href="/weatherKit">Red-Black Binary Search Tree</a></li>
        </ul>
    </div>

    <br/>
    <hr/>
    <div class="row">
        <div class="col-md-5 col-sm-5">
            <a href="/"><i class="fa fa-arrow-circle-left" ></i> Back</a>
        </div>
    </div>
  </div>

</div>