<div>
  <div class="header">

    <div class="row justify-content-center" >
      <img class="servicesImg" src="/images/backgound.jpg" alt="Services provided by Trupti" >
    </div>

    <div class="row justify-content-center">
        <h3 class="title">Web Resources</h3>
    </div>
    <div class="row">
        Today various technologies are being used in web development.
        Knowing all of them to the mark is quite difficult for any developer.
        With so many resources available on the internet, at times it becomes
        difficult to select a resource(s).
        <br/>
        Here, I have listed some of the resources that I refer for quick guidance with great ideas:
    </div>

    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action list-group-item-success active" id="w3s-resource"
                    data-toggle="list" href="#list-w3s" role="tab" aria-controls="w3s">W3Schools
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-o checked"></span>
                </a>
                <a class="list-group-item list-group-item-action list-group-item-warning" id="stackoverflow-resource"
                    data-toggle="list" href="#list-stackoverflow" role="tab" aria-controls="stackoverflow">Stack Overflow
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-o checked"></span>
                </a>
                <a class="list-group-item list-group-item-action list-group-item-info" id="tutorialsPt-res"
                    data-toggle="list" href="#list-tutorialsPt" role="tab" aria-controls="tutorialsPt">Tutorials Point
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="youtube-res"
                    data-toggle="list" href="#list-youtube" role="tab" aria-controls="youtube">YouTube
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                </a>
                <a class="list-group-item list-group-item-action list-group-item-dark" id="microsoftDocs-res"
                    data-toggle="list" href="#list-microsoftDocs" role="tab" aria-controls="microsoftDocs">Microsoft Docs
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                </a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-w3s" role="tabpanel" aria-labelledby="w3s-resource">
                    <a class="resourceTitleLink" href="https://www.w3schools.com/default.asp" target="_blank">W3schools</a>
                    <br/>
                    <div class="row">
                        W3schools is one of the best site to learn something for quick reference. For front-end, basic language solutions, I prefer
                        W3Schools website. The best part I like is their examples and exercises.
                        <br/><br/>
                        Their online editor with compiler, "Try it Yourself", and the results shown awesome. It helps do quick trial and error on the
                        particular logic.
                    </div>
                </div>
                <div class="tab-pane fade" id="list-stackoverflow" role="tabpanel" aria-labelledby="stackoverflow-resource">
                    <a class="resourceTitleLink" href="https://stackoverflow.com/" target="_blank">Stack Overflow</a>
                    <br/>
                    <div class="row">
                        Stack Overflow’s public platform is used by nearly everyone who codes comes to learn, share their knowledge, collaborate, and build their careers.
                        How ever difficult or easy the question is, for any language, I mostly find multiple solution over here.
                        <br/><br/>
                        The community is very active and helpful.
                    </div>
                </div>
                <div class="tab-pane fade" id="list-tutorialsPt" role="tabpanel" aria-labelledby="tutorialsPt-res">
                    <a class="resourceTitleLink" href="https://www.tutorialspoint.com/" target="_blank">Tutorials Point</a>
                    <br/>
                    <div class="row">
                        To learn any language, framework, subject, Tutorials Point have one to many resources that can help us learn something new.
                        They have many courses free to paid of different levels by top trainers.
                        <br/><br/>
                        Usually, to know more on any concept of a subject or to learn something new, I refer here.
                    </div>
                </div>
                <div class="tab-pane fade" id="list-youtube" role="tabpanel" aria-labelledby="youtube-res">
                    <a class="resourceTitleLink" href="https://www.youtube.com/" target="_blank">YouTube</a>
                    <br/>
                    <div class="row">
                        Some times watching is more easier and beneficial than reading. In such situation, youtube videos are a great help.
                        Videos of topics from parsing a string to int to a course of a language can be found on youtube.
                        <br/><br/>
                        The quality of videos are good and so are the explainations. You can see practically and do along with the video.
                    </div>
                </div>
                <div class="tab-pane fade" id="list-microsoftDocs" role="tabpanel" aria-labelledby="microsoftDocs-res">
                    <a class="resourceTitleLink" href="https://docs.microsoft.com/" target="_blank">Microsoft Docs</a>
                    <br/>
                    <div class="row">
                        Microsoft documention page is something that I can never ignore. Be it, an API method of C# language, What is Azure?,
                        What is Entity Framework and how to implement in my project?, Should I select .NET or .NET Core?, How to Setup Github in
                        Visual Studio?, or any information you need on any Microsoft products.
                        <br/><br/>
                        Being a Full-Stack Developer, back-end is as important as front-end. Microsoft documentations help me learn a topic from scratch to
                        advanced level or a quick reference with examples.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <hr/>
    <div class="row">
        <div class="col-md-5 col-sm-5">
            <a href="/"><i class="fa fa-arrow-circle-left" ></i> Back</a>
        </div>
    </div>
  </div>

</div>
